<app-players *ngFor="let player of game.players; let i=index;" [ngStyle]="{'top.px':130 + (i*140)}"
    [nameOfPlayer]="player" class="playerPosition" [playerActive]="i==game.currentPlayer"></app-players>
<div class="field">
    <div class="card-stack">
        <img [ngStyle]="{'right.px':i*5}" *ngFor="let card of [0,1,2,3,4]; let i=index;"
            src="../../assets/img/cards/card_cover.png">
        <img (click)="pickCard()" class="top-card" style="right:40px" src="../../assets/img/cards/card_cover.png">

        <!--stack of played cards-->
        <img *ngFor="let copyCard of game.playedCard" class="playedCard"
            src="../../assets/img/cards/{{ copyCard }}.png">

        <!--currentCard animation-->
        <img (click)="pickCard()" *ngIf="game.pickCardAnimation" class="picked-card" style="right:40px"
            src="../../assets/img/cards/{{game.currentCard}}.png">
    </div>
</div>

<app-app-info class="info-card" [card]="game.currentCard"></app-app-info>


<button mat-fab color="primary" class="btn-add"
(click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>
